@charset "UTF-8";

.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    width:100px;
    height:30px;
    background:#777;
    color:#fff;
    text-align:center;
    line-height:30px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 50%);
    margin-bottom: 20px;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.file_input input[type=text] {
    vertical-align:top;
    display:inline-block;
    width:400px;
    height:28px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border:1px solid #777;
}




