@charset "utf-8";
* {margin:0;padding:0;}
html {height:100%;}
body {height:100%; font-family: 'Nanum Gothic', sans-serif; 
background-image: url("../images/nature.jpg");
  background-size:cover;
  background-repeat: no-repeat;

}

body:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 0.3);
  background-size:100%;
  background-repeat: no-repeat;
  
  z-index: -1;
}
table, tr, td, th, div, p, em, ol, ul, li, dl, dt, dd, a, address, img, h1, h2, h3, h4, h5, h6{font-size:11pt; color:white;text-decoration: none;}
img {border:0; }
h1 { float:left; padding:0 0 0 0px;}
h2 {padding:0 0 0 0px;}
ul, li { list-style:none;}
ul{list-style:none; }

.red_txt{color:#ee7272;}
.blind {display:block;overflow:hidden;position:absolute;left:0;top:-5000px}
.wrap{max-width:960px; margin: 0 auto;}
.wrap.wd668{max-width:628px;}
.wrap.wd668.line{border:1px solid white; padding:30px 20px;}
.container{width:100%;}
.sub_tit_txt{margin:80px 0 20px 20px; color: white; font-size: 25px;}
.wrap.wd668.line .sub_tit_txt{margin:0px 0 20px 20px; }
.con_term .term_txt{border:1px solid white;padding:30px; height:210px; overflow-y: auto; margin:0 0 15px;}
.con_term .term_txt ul li,.con_term .term_txt p ,.con_term .term_txt div{color:white;font-size:12px; line-height:17px;margin: 0 0 15px;}
.left_margin{margin:0 0 0 20px;}
.con_term .term_txt div.txt_bold{font-weight: bold; margin:0 0 25px;}
.btn_wrap{text-align:center; margin:40px 0 30px;}
.btn_wrap .submit-btn{color: white; background-color: #4A7B4C; font-weight: bold; padding: 10px;  height: 50px; line-height: 30px; width: 168px; display: block; text-align: center; margin: 0 auto;}
.btn_wrap .submit-btn .wide.homeNregister{width:587px;margin: 0 0 0 20px;}
.not-btn_wrap .submit-btn{color: white; background-color: #9B9B9B; font-weight: bold; padding: 10px;  height: 50px; line-height: 30px; width: 168px; display: block; text-align: center; margin: 0 auto;}
.not-btn_wrap .submit-btn .wide.homeNregister{width:587px;margin: 0 0 0 20px;}
.find_txt ul li{color:white;font-size:13px;text-align:center; line-height:17px; margin:0 0 20px;}

.exTxt{font-size:14px;color:white;display: block;margin:0 0 45px 20px;}
.join_form{width:100%;max-width:668px;}
.join_form table {border-spacing: 0;margin:0;padding:0; border:0;width:100%;}
.join_form table input{ border:0px solid #ececec; background: transparent; background: rgba(255, 255, 255, 0.2); font-size:14px;color:white; height:35px; padding:10px; width:100%; float:left;}


.join_form table th span{color:white;font-size:14px; display:inline-block; position:relative;padding:0 10px 0 0; text-indent:20px;}

.join_form table th{text-align:left;}
.join_form table td{padding:6px 0;position: relative;}
.join_form table th .essential:after{content:'*';font-size:13px;color:#f95427;position:absolute;top:0;right:0px;}

.join_form_modify{width:100%;max-width:668px;}
.join_form_modify table {border-spacing: 0;margin:0;padding:0; border:0;width:100%;}
.join_form_modify table input{ border:0px solid #ececec; background: transparent; background: rgba(255, 255, 255, 0.2); font-size:14px;color:white; height:35px; padding:10px; width:100%; float:left;}


.join_form_modify table th span{color:white;font-size:14px; display:inline-block; position:relative;padding:0 10px 0 0; text-indent:20px;}

.join_form_modify table th{text-align:left;}
.join_form_modify table td{padding:6px 0;position: relative;}
.join_form_modify table th span:after{content:'';font-size:13px; position:absolute;top:0;right:0px;}

.join_form table td a.btn_confirm{display: inline-block; float:left;width:115px; height:48px;margin:5px 0 0 0px;border:1px solid #cfcfcf;background:#dedede;color:#626262;text-align:center; vertical-align: top;line-height: 50px;}
.join_form_modify table td a.btn_confirm{display: inline-block; float:left;width:115px; height:48px;margin:5px 0 0 0px;border:1px solid #cfcfcf;background:#dedede;color:#626262;text-align:center; vertical-align: top;line-height: 50px;}

.agree_wrap{margin:36px 0 0;}
.agree_wrap .checkbox_wrap{text-align:left;}
::placeholder {color: #c4c4c4;opacity: 1;}
:-ms-input-placeholder {color: #c4c4c4!important;}
::-ms-input-placeholder {color: #c4c4c4!important;}
.mar27{margin:27px 0 0;}
.mar10{margin:14px 5px 0 10px; display: inline-block;padding:0; float:left;}
.exform_txt{padding:12px 0 19px 0; text-align:right;color:#9a9a9a;font-size:13px;border-bottom:1px solid #ececec;}
.exform_txt span{display: inline-block;position:relative;  padding-left:10px}
.exform_txt span:after{content:'*';position:absolute;left:0;top:0; color:#f95427; font-size: 13px; font-weight: bold;}


.popWrap .pop_btnWrap a{color: #fff; background-color: #4380ce; font-weight: bold; padding: 10px;  height: 22px; line-height: 22px; width: 103px; display: block; text-align: center;}
.join_form table input.send_number::placeholder{text-align:right;}
.join_form table input.send_number:-ms-input-placeholder {text-align:right;}
.join_form table input.send_number::-ms-input-placeholder {text-align:right;}

.join_form_modify table input.send_number::placeholder{text-align:right;}
.join_form_modify table input.send_number:-ms-input-placeholder {text-align:right;}
.join_form_modify table input.send_number::-ms-input-placeholder {text-align:right;}

.overlayer {  position: fixed;display: none;width: 100%;  height: 100%;  top: 0;  left: 0;  right: 0;  bottom: 0;  background-color: rgba(0,0,0,0.5);  z-index: 2;  cursor: pointer;}
.overlayer.is-open{  display: block;}

.idCheckButton{
	float:right;	
	background-color: transparent;
	margin-top:10px;
	color:white;
	border: 1px solid white;
	height: 30px;
	width: 70px;
}

.notIdCheckButton{
	float:right;	
	background-color: transparent;
	margin-top:10px;
	color:white;
	border: 1px solid white;
	height: 30px;
	width: 70px;
}

 .idCheckButton:hover {
    background: #4A7B4C;
    color: white;
    transition: all .35s ease-in-out .01s;
  }
  
.submit-btn{
	display: inline-block;
    width: 115px;
    height: 48px;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
    background: #dedede;
    color: #626262;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}


.not-submit-btn{
	display: inline-block;
    width: 115px;
    height: 48px;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
    background: #dedede;
    color: #626262;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}

.homeNregister{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	
}

.home-btn{
	margin-right: 25%;
	
}
.register-btn{
	margin-left: 25%;
}


  
@media ( max-width: 1023px ) {
  .wrap{margin: 30px auto;}
  .wrap,.wrap.wd668.line{max-width:80vw;}
  .wrap.wd668{width:90vw;}
  .join_form{max-width:90vw;}
  .join_form table th span{text-indent: 0;font-size:13px;}
  .join_form table{width:100%;}
  .join_form table input{ border:1px solid #ececec;font-size:14px;color:#4c4c4c; height:37px; padding:10px; width:100%;}
 
  .mar10{margin:5px 2% 0 2%; float:left;}
 
  .join_form table input.send_number{width: 53%; }
  .exTxt{margin:0 0 25px 0px}
  .wrap.wd668.line .sub_tit_txt,.wrap .sub_tit_txt{margin:0 0 10px 0;}
 
  .btn_wrap{overflow: hidden;}
  
  .popWrap{right: auto; max-width: 80vw; margin: 30px auto 0; left: 50%; transform: translateX(-50%);}
  .join_form table td a.btn_confirm{width: 100px; height: 35px;line-height: 35px; font-size: 12px;margin:5px 0 0 ;}
  .join_form table input.send_number + a{margin:0 0 0 5px;}
  
  .join_form_modify{max-width:90vw;}
  .join_form_modify table th span{text-indent: 0;font-size:13px;}
  .join_form_modify table{width:100%;}
  .join_form_modify table input{ border:1px solid #ececec;font-size:14px;color:white; height:37px; padding:10px; width:100%;}

  
  .join_form_modify table input.send_number{width: 53%; }
 
 
  .join_form_modify table td a.btn_confirm{width: 100px; height: 35px;line-height: 35px; font-size: 12px;margin:5px 0 0 ;}
  .join_form_modify table input.send_number + a{margin:0 0 0 5px;}
  
  .submit-btn{
	display: inline-block;
    height: 48px;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
    background: #dedede;
    color: #626262;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}

.not-submit-btn{
	display: inline-block;
    height: 48px;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
    background: #dedede;
    color: #626262;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}
}